[*.cs]
file_header_template = --------------------------------------------------------------- \nCopyright (c) MumsWhoCode. Learn,. All rights reserved. \n---------------------------------------------------------------