[*.cs]
file_header_template = --------------------------------------------------------------- \nCopyright (c) MumsWhoCode. Learn, Share and Grow. \n---------------------------------------------------------------